@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

* {
  margin: 0px;
  padding: 1px;
  font-family: "Quicksand";
  color: white;
  background-color: rgb(27, 27, 27);
}

.content {
  margin: 10px 80px;
}

/* #ffa31a	(255,163,26) orange
#808080	(128,128,128) grey
#292929	(41,41,41) light black
#1b1b1b	(27,27,27) black
#ffffff	(255,255,255) white*/

/* Navbar Styling */

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: white;
  font-size: 2.2rem;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  margin-left: 1.2rem;
  padding: 0.5rem;
  font-weight: 200;
}

/* .navbar a:hover {
  color: rgb(245, 64, 64);
} */

/* blog preview */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  /* border: 1px solid yellow; */
  /* border-bottom: 1px solid #fafafa; */
}

.blog-preview a :hover {
  box-shadow: 1px 1px 3px rgba(255, 163, 26, 1);
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview h2 {
  font-size: 1.5rem;
  color: #ffa31a;
  padding: 2px;
  margin-bottom: 8px;
}

.blog-preview p {
  font-size: 1rem;
}

.blog-preview button {
  background-color: #ffa31a;
  color: black;
  border-radius: 7px;
  padding: 3px 5px;
  cursor: pointer;
}

/* Blog list  */
/* .blog-list {
  background-color: #292929;
} */

.blog-list h3 {
  font-size: 2rem;
  padding: 10px 16px;
}

/* Blog Details  */
.blog-details {
  margin: 10px 20px;
}

.blog-details h2 {
  font-size: 2rem;
  color: #ffa31a;
  margin-bottom: 10px;
}

.blog-details p {
  /* padding: 10px; */
  color: #f2f2f2;
  margin-bottom: 15px;
}

.blog-details div {
  margin-bottom: 15px;
}

.blog-details button {
  background-color: #ffa31a;
  color: rgb(27, 27, 27);
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 8px;
}

/* New Blog  */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 2rem;
  color: #ffa31a;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
  background-color: rgb(41, 41, 41);
}

.create button {
  background-color: #ffa31a;
  color: rgb(27, 27, 27);
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
}